body {
    background-color: #E4D445;
    width: 1024px;
}
.golovka {
    display: flex;
}
.porno {
    position: absolute;
    right: 0%;
    top: -28px; 
}
.porno img{
    width: 60vw;
}
.IDK {
    position: absolute;
    margin-left: 10vw;
    top: 20vh;
}
.IDK h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 1em;
    color: #000000;
}
.ihrl {
    position: absolute;
    margin-left: 10vw;
    top: 40vh;
}
.ihrl h1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 0.9em;
    color: #000000;
}
.pornohead {
    position: absolute;
    right: 10vw;
    top: 70vh;
}
.pornohead h2{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 144px;
    line-height: 1em;
    text-align: center;
    color: #E4D445;
}
.p-container {
    position: relative;
}
.leftp {
    position: absolute;
    left: 10vw;
    top: 150vh;
    right: 40vw;
}
.leftp p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 20vh;
}
.rightp {
    position: absolute;
    left: 40vw;
    right: 10vw;
    top: 350vh;
    
}
.rightp p {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 20vh;
}
@media only screen and (max-width:767px) {
    body {
        background-color: aquamarine;
    }
}
